body {
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: white;
    width: 380px;
    height: 800px;
}


.logo{
    width: 380px;
    height: 80px;
    background-color: white;
}

.user{

}

.pass{



}

.button{

    display: flex;
    justify-content: center;
    align-items: center;

}